* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7.5rem;
    min-height: 5.75rem;
    min-width: 100rem;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    align-items: center;
    
}

.bold-menu-option{
    font-weight: bold;
}

.logo img{
    width:81px;
    height:60px;
    cursor: pointer;
}

ul a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: black;
}


.btn{
    background-color:#30B868;
    height:2.75rem;
    width: 10.25rem;
    padding: 0.75rem 1rem;
    cursor: pointer; 
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

#banner {
    background: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
    min-height: 42.125rem;
    min-width: 100rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.banner-content,.banner-button1,.banner-button2{
    color: #FFFFFF;
}

.banner-content{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.banner-h1-green{
    color:#30B868 ;
}

.banner-h1-green,.banner-h1-black{
    text-transform: capitalize;
    font-size: 4.5rem;
    font-weight: bold;
    opacity: 90%;
}

#banner .banner-text-content{
    font-size: 1.125rem;
    font-weight: 100;
    margin-top: 1rem;
    line-height: 1.5rem;
}

.banner-button1{
    height: 3.25rem;
    width: 15.6875rem;
    background-color: #30B868;
    /* padding: 1.03125rem 2.875rem 1.03125rem 1rem ; */
    margin-top: 2rem;
    margin-right: 1rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    

}

.banner-button2{
    margin-top: 2rem;
    width: 12.375rem;
    height: 3.25rem;
    color: #FFFFFF;
    background-color: transparent;
    border: #FFFFFF 1px solid;
    /* padding: 1.03125rem 1rem 1.03125rem 2.875rem ; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.banner-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop-notification {
    width: 229px;
    height: 35px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    

}

.notification-text{
       font-size: 16px;
       font-weight: 400;
       align-items: center;
       white-space: nowrap;
       color: #30B868;
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 6px;
       padding: 8px 12px;
      
       }

.card{
    height: 322px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  
   }

.card1-icon{
    background-color:#F95555 ;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 14px;
}

.card-header{
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}

.option-title{
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    color: #001931;
    margin-top: 38px;   
}

.option-paragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.option-card{
    display: flex;
    justify-content: center;
    gap: 24px;
}
#option{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 44px;
    margin-top: ;

}

.option-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

#the-solution{
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 120px;
    min-width: 1360px;


}

.the-solution-header{
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 700;
    color: #001931;

}

.solution-banner-list{
    list-style: none;
    font-size: 16px;
    font-weight: 500;


}

.the-solution-notification{
    text-transform: uppercase;
    font-size: 16px;
    color: #30B868;
    font-weight: 500;
}

.the-solution-paragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

}

.tscp1{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.the-solution-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sli{
    display: flex;
    align-items: center;
    gap: 6px;
    padding-bottom: 16px;
}
