* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7.5rem;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    align-items: center;
    
}

.bold-menu-option{
    font-weight: bold;
}

.logo img{
width:81px;
height:60px;
}

ul a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}

.btn{
    background-color:#30B868;
    height:2.75rem;
    width: 10.25rem;
    padding: 0.75rem 1rem;
    cursor: pointer; 
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    font-size: 1rem;
}


