* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
  
    padding: 16px 0;
    min-height: 92px;
    width: 100%;
   
}
.nav-container{
     width: 90%;
     max-width: 1600px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     
}
.nav-menu {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    align-items: center;
    }

.bold-menu-option{
    font-weight: bold;
}

.logo img{
    width:81px;
    height:60px;
    cursor: pointer;
}

ul a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: black;
}


.btn{
    background-color:#30B868;
    height:2.75rem;
    width: 10.25rem;
    padding: 0.75rem 1rem;
    cursor: pointer; 
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

#banner {
    background: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
    min-height: 42.125rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.banner-content,.banner-button1,.banner-button2{
    color: #FFFFFF;
}

.banner-content{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.banner-h1-green{
    color:#30B868 ;
}

.banner-h1-green,.banner-h1-black{
    text-transform: capitalize;
    font-size: 4.5rem;
    font-weight: bold;
    opacity: 90%;
}

#banner .banner-text-content{
    font-size: 1.125rem;
    font-weight: 100;
    margin-top: 1rem;
    line-height: 1.5rem;
}

.banner-button1{
    height: 3.25rem;
    width: 15.6875rem;
    background-color: #30B868;
    /* padding: 1.03125rem 2.875rem 1.03125rem 1rem ; */
    margin-top: 2rem;
    margin-right: 1rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    

}

.banner-button2{
    margin-top: 2rem;
    width: 12.375rem;
    height: 3.25rem;
    color: #FFFFFF;
    background-color: transparent;
    border: #FFFFFF 1px solid;
    /* padding: 1.03125rem 1rem 1.03125rem 2.875rem ; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.banner-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop-notification {
    width: 229px;
    height: 35px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    

}

.notification-text{
       font-size: 16px;
       font-weight: 400;
       align-items: center;
       white-space: nowrap;
       color: #30B868;
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 6px;
       padding: 8px 12px;
      
       }

.card{
    height: 322px;
    width: 300px;
    border-radius: 8px 8px 0 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    clip-path: inset(-20px -20px 0px -20px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  
   }

.card1-icon{
    background-color:#F95555 ;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 14px;
}

.card-header{
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}

.option-title{
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    color: #001931;
    margin-top: 38px;   
}

.option-paragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.option-card{
    display: flex;
    justify-content: center;
    gap: 24px;
}
#option{
    width: 100%;
    min-height: 448px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 44px;
    color: #001931;

}

.option-content{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

#the-solution{
    width: 100%;
    min-height: 840px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: left;
    padding: 120px;

}

.thesolution-container{
    display: flex;
    text-align: left;
    justify-content: l;
    align-items: center;
    gap: 60px;
    max-width: 1360px;
    width: 90%;
}

.the-solution-header{
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 700;
    color: #001931;

}

.solution-banner-list{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: #001931;


}

.the-solution-notification{
    text-transform: uppercase;
    font-size: 16px;
    color: #30B868;
    font-weight: 500;
}

.the-solution-paragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #001931;

}

.tscp1{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.the-solution-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sli{
    display: flex;
    align-items: center;
    gap: 6px;
    padding-bottom: 16px;
}

#early-access{
    min-height: 384px;
    width: 100%; 
      
}

.early-access-container{
    width: 90%;
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    gap: 16px;
    background-color: #F7F6F2;
    padding: 120px;
    border-radius: 12px; 

}

.early-access-button{
    
    height: 52px;
    width: 194px;
    background-color: #30B868;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 16px;
    

}

.ready-heading{
    font-size: 40px;
    font-weight:700;
    text-transform: capitalize;
}

.ready-paragraph,.ready-paragraph2{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

#knowledegevault{
    width: 100%;
    margin-top: 120px;
    min-height: 348px;
    background-color: #001931;
    color: #ffffff;
    background-size: cover;
    padding: 120px 120px 0 120px;
    
}

.knowledegevault1{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    margin: auto;
    
}

.knowledegevault2{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 80px;
    border-top: 1px solid #2E4256;
    padding-top: 30px;
}

.s-icon{
    display: flex;
    gap:16px;
    align-items: center;
    justify-content: center;
}

.social-links{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
